<h1>Burrito List</h1>

<% Burrito.all.each do |burrito|%>
  <li>
  <a href="/burritos/<%= burrito.slug%>"><%= burrito.name%></a><br>
  </li>
<%end%>
<%#binding.pry%>
<%@user = User.find_by_id(session[:user_id])%>
<% if @user.username == "sam_the_owner"%>
  <form action="/burritos/new" method="get">
    <input type="submit" value="Add A new Burrito">
  </form>
  <form action="/burritos/delete" method="post">
    <input type="submit" value="Delete checked Burrito(s)"><br><br>
  </form>
<%end%>
<%# GO TO USER HOMEPAGE %>
<form action="/users/index" method="get">

  <input type="submit" value="User Homepage">
</form>
<%# LOGOUT%>
<form action="/logout" method="get">
  <input type="submit" value="Log Out">
</form>