<h1>Burrito List</h1>
<%# Lists all burritos in the table %>
<% @burritos.each do |burrito|%>
  <li>
  <p><a href="/burritos/<%= burrito.id %>"><%= burrito.id %>. <%= burrito.name%></a><br>
  </li>
<%end%>
<form action="/burritos/new" method="get">
  <input type="submit" value="Add A new Burrito">
</form><br>
<%# BACK TO ADMIN PAGE %>
<form action="/users/admin" method="get">
  <input type="submit" value="Back to Admin Page">
</form><br>
<%# GO TO USER HOMEPAGE %>
<form action="/users/index" method="get">
  <input type="submit" value="User Homepage">
</form><br>
<%# LOGOUT%>
<form action="/logout" method="get">
  <input type="submit" value="Log Out">
</form>