<h1>Burrito List</h1>
<%# Lists all burritos in the table %>
<% @burritos.each do |burrito|%>
  <li>
  <%= burrito.name%><br>
  </li>
<%end%>
<form action="/burritos/new" method="get">
  <input type="submit" value="Add A new Burrito">
</form><br>
<%# for later addition of delete button %>
  <%# <form action="/burritos/delete" method="post">
    <input type="submit" value="Delete checked Burrito(s)"><br><br>
  </form> %>
<%# GO TO USER HOMEPAGE %>
<form action="/users/index" method="get">
  <input type="submit" value="User Homepage">
</form><br>
<%# LOGOUT%>
<form action="/logout" method="get">
  <input type="submit" value="Log Out">
</form>