<h1>New Burrito </h1>
<%# Create new burrito %>
<form action="/burritos/new" method="POST">
  <label>Burrito Name:</label><input type="text" name="name"><br><br>
  <label>Description:</label><input type="text" name="description" size="50"><br><br>
  <label>Price: $</label><input type="decimal" name="price"><br><br><br>

  <input type="submit" value="Create Burrito"><br><br>
</form>
<form action="/burritos/index" method="get">
  <input type="submit" value="List Burritos">
</form>



