<h1>Admin Page</h1>
<%# MVP only includes adding burritos and seeing all orders %>
<%# plus links to User operations %>

<% @user = User.find_by_id(session[:user_id])%>
<h2>Welcome, <%= @user.name%></h2><br><br>
<%# NEW BURRITO %>
<form action="/burritos/new" method="get">
  <input type="submit" value="New Burrito">
</form><br><br>
<%# REVIEW ORDER HISTORY %>
<form action="/orders/history" method="get">
  <input type="submit" value="Order History">
</form><br><br>
<%# GO TO USER VIEW %>
<form action="/users/index" method="get">
  <input type="submit" value="Users View">
</form><br><br>
<%# LOG OUT %>
<form action="/logout" method="get">
  <input type="submit" value="Log Out">
</form><br><br>