<h1>Welcome to Sam's Burritos</h1>
<h3>Log in to create a new order</h3>
<form action="/login" method="POST">
  <label>Username:</label><input type="text" name="username">
  <label>Password:</label><input type="text" name="password">

  <input type="submit" value="Log In" id=login>
</form>
<br><br><br><br><br><br>
<p>or <a href="/users/new">signup</a> to become a new customer!</p>