<%# error for submiting a new user form with a blank field %>
<h1>I'm Sorry - You must fill in all details.</h1>
<h3>Please try again</h3>
<form action="/users/new" method="POST"><br>
  <label>Name: </label><input type="text" name="name" id:"name"><br>
  <label>username: </label><input type="text" name="username" id:"namusernamee"><br>
  <label>Email: </label><input type="text" name="email" id:"email"><br>
  <label>Password: </label><input type="text" name="password" id:"password"><br>

  <input type="submit" value="Submit">
</form>
<br><br><br><br>
<form action="/" method="get">
  <input type="submit" value="Return to Homepage">
</form>