<h1>I'm Sorry - You must fill in all details.</h1>

<form action="/users/new" method="POST"><br>
  <label>Name: </label><input type="text" name="name" id:"name"><br>
  <label>username: </label><input type="text" name="username" id:"namusernamee"><br>
  <label>Email: </label><input type="text" name="email" id:"email"><br>
  <label>Password: </label><input type="text" name="password" id:"password"><br>
  <%# <label>Store Name: </label><input type="text" name="store_name" id:"store_name"><br>
  <label>Store Address: </label><input type="text" name="store_address" id:"store_address"><br>
  <label>Store Phone Number: </label><input type="text" name="store_phone" id:"store_phone"><br> %>

  <input type="submit" value="Submit">
</form>
<br><br><br><br>
<form action="/" method="get">
  <input type="submit" value="Return to Homepage">
</form>